@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
body {
  background-color: rgb(0, 0, 51);
}

/* image gallery */
img {
  margin: 5px;
  border: 1px solid #ccc;
  float:right;
  width: 570px;
  height: 500px;
}

/* header text */
h1 {
  color: white;
  font-size: 40px;
  text-align: center;
  font-family: "Roboto Mono", monospace;
    animation: color-change 5s infinite;
}

/* header color change animation */
 @keyframes color-change {
    30% {
      color: rgb(0, 67, 155);
    }
    50% {
      color: rgb(0, 110, 255);
    }
  }

/* displays buttons in a column */
.menu {
  display: flex;
  flex-direction: column;
}

/* sets size and bg color of buttons */
.button {
  position: relative;
  width: 200px;
  height: 100px;
  background-color: black;
  border-radius: 50px;
  border: 3px solid black;
  box-shadow: inset 0px -2px 1px rgba(0, 0, 0, 0.8),
    inset 0 2px 1px rgba(255, 255, 255, 1);
}

.button:focus {
  outline: none;
}

/* ball of light */
button::after {
  position: absolute;
  top: 10px;
  right: 10px;
  border: 5px solid #f9fe8d;
  border-radius: 5px;
  content: "";
  box-shadow: 0 0 15px 7.5px orange;
  animation: orb 1.5s infinite linear;
  opacity: 0;
}

/* text inside button */
.buttonText {
  color: white;
  font-size: 1.75em;
  float: center;
  font-family: "Roboto Mono", monospace;
}

/* highlights button in red when mouse hovers over it */
.button:hover {
  cursor: pointer;
  background: linear-gradient(#000000 25%, #680908 100%);
  border-color: red;
  margin-left: 30px;
}

.button:hover:after {
  opacity: 10;
}

/* ball of light rotation animation */
@keyframes orb {
  from {
    transform: rotate(0deg) translateX(20px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(20px) rotate(-360deg);
  }
}
